// Inheritance
%text {
    font-family: Arial;
    font-size: 14px;
    color: black;
}

// Variables
$shadow-color: #dadada;
$shadow-search: 1px 1px 10px $shadow-color;

// SCSS
#top-page {
    display: flex;
    justify-content: flex-end;

    div {
        margin: 10px;

        a {
            @extend %text;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}

#middle-page {
    display: flex;
    justify-content: center;
    
    div {
        margin-top: 100px;
        margin-bottom:20px;
        img {
            width: 300px;
        }
    }
}

#search {
    display: flex;
    justify-content: center;

    div {
        input {
            @extend %text;
            width: 500px;
            height: 35px;
            border-radius: 20px;
            border: 1px solid $shadow-color;
            padding-left: 15px;
        }

        input:focus {
            outline: none;
            box-shadow: $shadow-search;
        }
        input:hover {
            box-shadow: $shadow-search;
        }
    }
}

#bottom-page {
    display: flex;
    justify-content: center;

    div {
        margin: 20px;
        input {
            @extend %text;
            height: 35px;
            width: 150px;
            margin: 5px;
            background-color: #f8f9fa;
            border: none;
            border-radius: 5px;
        }
        input:hover {
            box-shadow: 0px 1px 1px $shadow-color;
            border: 1px solid $shadow-color;
        }
    }
}